@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border:none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --bg-color: #55cede;
  --snd-bf-color: #26a4c7;
  --main-color: #83813e;
  --text-color: #080302dd;
}

html {
  font-size: 63.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: rgb(85, 210, 197);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 800;
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-content {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img img {
  width: 25vw;
  border-radius: 50%;
  animation: floatImage 6s ease-in-out infinite;
  border: solid 4px skyblue;
  background-color: var(--snd-bf-color);
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 3rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 2rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--main-color);
  color: aqua;
  box-shadow: 0 0 1rem var(--text-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: aqua;
  letter-spacing: 0.1rem;
  font-weight: 700;
  transition: 0.5s ease;
  margin-top:20px;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: var(--snd-bf-color);
}

.aboutimage img {
  width:30vw;
  background-color: var(--bg-color);
  border: solid 4px rgb(8, 146, 201);
  margin-right: 25px;
}

.heading {
  text-align: center;
  font-size: 4.4rem;
}

.about-content h2 {
  text-align: left;
  font-size: 3.5rem;
  font-weight: 800;
}

.about-content h3 {
  font-size: 3rem;
}

.about-content p {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: justify;
}

.services {
  background: var(--bg-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1.5rem;
  padding-top: 3rem;
}

.services-box {
  text-align: center;
  padding: 4rem 3rem;
  background: var(--snd-bf-color);
  box-shadow: 0 0 1rem var(--bg-color);
  border-radius: 0.5rem;
  transition: 0.5s ease;

}

.services-box:hover {
  transform: scale(1.02);
}

.services-box i {
  font-size: 5rem;
  color: var(--main-color);
  padding-bottom: 1rem;
}

.services-box h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: rgb(36, 240, 240);
}

.services-box p {
  font-size: 1.6rem;
  color: #0b0707;
  text-align: justify;
  font-weight: 600;
}

.portfolio {
  background: var(--snd-bf-color);
}

.portfolio h2 {
  margin-bottom: 1rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0.7;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--bg-color));
  display: flex;
  justify-content: center;
  align-items: center;   
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.4s ease;

}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
  color:white;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
  font-weight: 600;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--main-color);
  border-radius: 50%;
  
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--snd-bf-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: var(--text-color);
  color:white;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 48%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
}

.footer {
  background: var(--snd-bf-color);
  padding: 2.5rem 9%;
  text-align: center;
}

.footer-text {
  font-size: 2rem;
  color: var(--text-color);
}

.footer-iconTop {
  background: var(--main-color);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--bg-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-iconTop:hover {
  background: var(--snd-bf-color);
  color: var(--main-color);
  box-shadow: 0 0 1rem var(--text-color);
}

@media (max-width: 768px) {
  .header {
    padding: 2rem;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: var(--snd-bf-color);
    border-top: 0.1rem solid var(--text-color);
    border-bottom: 0.1rem solid var(--text-color);
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
  }

  .navbar.active {
    transform: scaleY(1);
  }

  .navbar a {
    display: block;
    margin: 2rem;
    padding: 1.5rem;
    background: none;
    border-top: 0.1rem solid var(--text-color);
    border-bottom: 0.1rem solid var(--text-color);
  }

  .home {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .home-img img {
    width: 60%;
  }

  .about {
    flex-direction: column;
  }

  .aboutimage img {
    width: 70%;
  }

  .services-container {
    grid-template-columns: 1fr;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .home-img img {
    width: 50%;
  }
}

